@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');
h1 {
  font-family: 'Exo', sans-serif;
  color: aliceblue;
  background-color: rgba(56, 113, 163, 0.6);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  text-align: center;
}
